@import "../../../src/Variables.scss";

.image-container {
    padding: 10px;
    border: 1px solid #CCC;
}
.banner-container{
    // height: calc(100vh - 73px);
}

.banner-section {
    padding: 4em 2em;

    p {
        font: 300 1em/1.6em $primary-font;
        letter-spacing: 0.5px;
    }
}
.heading-section{
    h1 {
        font: 700 2em/1em $primary-font;
        color: $primary-blue;
    }

    h6 {
        font: 400 1em/1em $primary-font;
        color: #777;
    }
}

.heading {
    font: 700 2em/1em $primary-font;
    margin-bottom: 0.5em;
    color: #777;
}


//Service Section 

.service-item{
background: rgb(66 132 243 / 10%);
border-radius: 4px;
padding: 10px 15px;
margin: 5px;
font: 400 1em/1.6em $primary-font;
}

p {
    font: 300 1em/1.6em "Lato", sans-serif;
    letter-spacing: 0.5px;
}

//Carousel Section 
.carousel-section{
    // background: $primary-blue;
    background: rgb(58,126,254);
background: linear-gradient(90deg, rgba(58,126,254,1) 0%, rgba(113,149,233,1) 0%, rgba(189,115,236,1) 50%, rgba(219,96,169,1) 100%);
    margin-bottom: 3em;
    padding: 4em;
    font: 400 1em/1.6em $primary-font;
    color: #FFF;
    h1{
        color: #FFF;
        margin-bottom: 1em;
    }
    h6{
        color: #FFF;
        &:last-child{
            margin-bottom: 1em;
        }
    }
}