@import "../../../src/Variables.scss";


.custom-tabs{
    padding: 30px 0;
    font: 300 1em/1.6em $primary-font;
    border: 1px solid #EEE;
    .nav-pills{
        margin: 0 25px;
    }
    .nav-item
    {
        margin-bottom: 15px;
        font-weight: 400;
        .nav-link{
            color: $primary-blue;
            
        }
        .nav-link.active{
            color: #FFF;
            background-color: $primary-blue;
            border-radius: 0 20px 20px 0;
        }
    }
    .tab-content{
    font: 300 1em/1.7em $primary-font;
    ul{
        li{
            margin-bottom: 10px;
        }
    }
    }
}


.border-right{
    border-right: 1px solid #EEE;
}