@import "../../../src/Variables.scss";


.custom-form{
    font: 300 1em/1.6em $primary-font;
}

.custom-btn{
    background: $primary-blue!important;
    border-color: $primary-blue!important;
    padding: 8px 20px!important;
}