@import "../../../src/Variables.scss";

.payroll-item {
    background: rgba(66, 132, 243, 0.1);
    padding: 30px;
    font: 300 1em/1.6em $primary-font;
    border-radius: 4px;
    min-height: 500px;

    h3 {
        font: 700 1.5em/1.6em $primary-font;
    }

    p {
        font: 300 0.9em/1.6em $primary-font;
    }
}

.note {
    background: #3a7efe;
    background: linear-gradient(90deg, #3a7efe 0%, #7195e9 0%, #bd73ec 50%, #db60a9 100%);
    color: #FFF;
    font: 300 1.1em/2em $primary-font;
    letter-spacing: 0.5px;
    h3{
        font-weight: 700;
    }
    .connect{
        padding-left: 0;
            margin-left: 0;
        li{
           
            list-style: none;
            font: 300 0.8em/1.5em $primary-font;
            
            a{
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}