@import "../../../src/Variables.scss";

header {
    padding: 0.5em 2em;
    background: $base-white;
    border-bottom: 1px solid $base-gray-300;
    font-family: $primary-font;
    .navbar-nav{
        .nav-link{
            padding-right: 1.5em!important;
            padding-left: 1.5em!important;
        }
    }
    .navbar-brand{
        font-weight: 900;
        color: $primary-blue!important;
    }
}