@import "../../../src/Variables.scss";


footer {
    background: #EEE;
  
    
    h3{
        font: 700 16px/18px $primary-font;
        letter-spacing: 0.5px;
    }
    p{
        font: 400 14px/20px $primary-font;
    }
    .copy-rights {
        padding: 10px 20px;
        background: $primary-blue;
        font: 400 12px/14px $primary-font;
        color: #FFF;
        letter-spacing: 0.5px;
    }
}