@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


$primary-font: 'Lato', sans-serif;

$base-white: #FFF;
$base-gray-300: #EEE;
$primary-blue: #4284f3;